.btn {
    text-decoration: none;
    display: flex;
    width: 173px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: var(--button-color, #e44848);
    color: var(--white-color, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.08px;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: var(--button-hover-color, #d84343);
}
