.container {
  display: flex;
  width: 631px;
  height: 588px;
  padding: 44px 52px;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 100px;
  border-radius: 10px;
  background: var(--input-color);
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  position: relative;
}

.detailsContainer::before {
  position: absolute;
  top: 48px;
  left: 0;
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--gray-light-color);
}

.detailsTitle {
  color: var(--main-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 48px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 16px;
}

.detailsListItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsText {
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
